---
import { pwaInfo } from "virtual:pwa-info";
import "/src/styles/styles.scss";
import pwaSetup from "pwaSetup.ts";

let manifest = pwaSetup.manifest || {};

interface Props {
    title: string;
    pwaMinimal?: boolean;
}

const { title, pwaMinimal = true } = Astro.props;
---

<!doctype html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no, user-scalable=no, viewport-fit=cover"
        />
        <link rel="icon" type="image/svg" href="/images/logo-pappe.svg" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/icons/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/icons/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/icons/favicon-16x16.png"
        />
        {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="theme-color" content={manifest.theme_color} />
        <meta name="application-name" content={manifest.name} />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <meta name="apple-mobile-web-app-title" content={manifest.name} />
        <meta name="description" content="Löffelweise Glück App" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="msapplication-config" content="/icons/browserconfig.xml" />
        <meta name="msapplication-TileColor" content={manifest.theme_color} />
        <meta name="msapplication-tap-highlight" content="no" />
        <title>{title}</title>
        {pwaMinimal && <script src="/src/scripts/pwa.ts" type="module" />}
        <slot name="head" />
    </head>
    <body>
        <slot />
    </body>
</html>
